@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "CheckBoxes";
}
@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}
@section banner{
    <h1>ChecBoxes for Razor</h1>
}

<p>Hello World!</p>

@section footer{
    &copy; CPSC1517 NAIT, All rights reserved
}
